<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Login example access denied</title>

<!--/*/ <th:block th:include="fragments/headerincludes :: head"></th:block> /*/-->

</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

	<section class="mxcContainer">
	<h1>Access denied</h1>
	
	<p>You have been denied access.</p>
	
	<p>Please contact the administrators etc etc</p>

	<div class="mxcMainButton">
			<a id="examplehome" th:href="@{/}">Home</a>
		</div>
	</section>

	<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

<script>
$(document).ready(function(){
 	$( "input[type=submit], a, button" )
 	      .button();
 });
</script>
</body>
</html>