<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Pleb view</title>

<!--/*/ <th:block th:include="fragments/headerincludes :: head"></th:block> /*/-->

</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

	<section class="mxcContainer">
	<p>Plebs and uber-users should be able to see this page.</p>
		
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

	</section>

	<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>

</html>