<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="head">

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
	<!-- For a responsive design, this meta-element will give the browser -->
	<!-- instructions wrt the page's dimension and scaling. -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />

	<link rel="stylesheet" type="text/css"
		th:href="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.css}" />
	
	<script th:src="@{/webjars/jquery/2.2.3/jquery.min.js}"></script>
	<script th:src="@{/webjars/jquery-ui/1.11.4/jquery-ui.min.js}"></script>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/campus.css}"
		media="screen" />
</head>
<body>

</body>
</html>