<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

<title>Lecturer</title>

<!--/*/ <th:block th:include="fragments/headerincludes :: head"></th:block> /*/-->

</head>
<body>
	<!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->

	<section class="mxcContainer">
	<p>Lecturer</p>

		<p th:text="#{home.welcome}">Welcome text.</p>
		
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>

	</section>

	<!--/*/ <th:block th:include="fragments/footer :: footer"></th:block> /*/-->

</body>

<script>

  $(function() {
    $( "input[type=submit], a, button" )
      .button();
  });
  </script>
</html>