/* Stylesheet for login example app */

/* Every main section will have a dark blue border, 10px margin with slightly more for
   the bottom, and 10px padding. The background colour is white. . . .
 */
header, footer, .mxcContainer {
	border: 1px solid MidnightBlue;
	margin: 10px;
	margin-bottom: 15px;
	padding: 10px;
	background-color: white;
}

/* . . . except for the header and footer, whose backgrounds will be dark blue with
   white text, and whose bottom margins will be 10px.
*/
header, footer {
	margin-bottom: 10px;
	color: MidnightBlue;
	background-color: SeaShell;
}
/* The main heading will be centred. */
header {
	text-align: center;
}

.mxcHeaderUserDetails {
	text-align: right;
	font-size: 0.75em;
}

/* No line break before the signout form on the header. */
.mxcHeaderButton {
	display: inline;
	padding-left: 10px;
}

/* The following helps us get the border sticking to the bottom of the page, even if
   there's not much content.
*/
html, body {
	height: 100%;
	margin: 0;
}

.mxclogin {
	padding: 20px;
}

.mxcInputField {	
	margin:5px;
}

.mxcInputField label {	
	display:inline-block; 
	width:100px;
}

/* todo does this do anything?? */
.mxcInputField input {
	display:inline-block;
}

/* Centre the form, and the "invalid login" message. */
.mxcInputField, .mxcLoginSubmit, .mxcLoginInvalid {
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-justify-content: center; /* Safari 6.1+ */
	justify-content: center;
}

.mxcLoginSubmit {
		padding-top:30px;
}

/* Make the "invalid login" message a little more prominent. */
.mxcLoginInvalidText {
	border: 1px solid red;
	margin: 10px;	
	padding: 10px;	
	font-size: 1.5em;
	font-weight: bold;
}

section {
	min-height: -webkit-calc(100% - 100px); /* Chrome */
	min-height: -moz-calc(100% - 100px); /* Firefox */
	min-height: calc(100% - 100px); /* native */
}

footer {
	font-size: 0.75em;
	font-style: italic;
	text-align: right;
	position: relative;
	clear: both;
}

/* Centre the main button on the index page using CSS3 flexbox. */
.mxcMainButton {
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-justify-content: center; /* Safari 6.1+ */
	justify-content: center;
	padding: 10px;
	color: DarkBlue;
}
/* Override JQuery button settings. */
.ui-button {
	color: red;
}

